@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Test";
}

<h1>This is the entry page.</h1>
<div id="fillthis"></div>
<div id="fillthisj"></div>
<div id="fillthiswithes6lib"></div>