@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["CentralHeader"] = "Paintings";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                <strong>Products</strong></h4>
        </div>
    </div>
    <app-root></app-root>

</div>


@section Scripts{ 
    <script src="~/dist/ClientAppOutput/inline.bundle.js"></script>
    <script src="~/dist/ClientAppOutput/polyfills.bundle.js"></script>
    <script src="~/dist/ClientAppOutput/styles.bundle.js"></script>
    <script src="~/dist/ClientAppOutput/vendor.bundle.js"></script>
    <script src="~/dist/ClientAppOutput/main.bundle.js"></script>
}

