@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["CentralHeader"] = "Paintings";
}
<div class="container">

    <h2>Products</h2>
    
    @{
        var pageSize = 3;
        var totalPages = @Model.Count() / pageSize;
        if (Model.Count() % pageSize != 0)
        {
            totalPages++;
        }
        for (var i = 0; i < totalPages; i++)
        {
            var currentPage = Model.Skip(i * pageSize).Take(pageSize).ToList();
            <div class="row">
                @foreach (var product in currentPage)
                {
                    <div class="col-md-4 p-t-30">
                        <div class="blo1">
                            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                <a href="#"><img src="~/assets/images/paintings/@(product.ArtId).jpg" alt="@product.Title"></a>
                            </div>
                            <div class="wrap-text-blo1 p-t-35">
                                <a href="#">
                                    <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        @product.Title
                                    </h4>
                                </a>

                                <p class="m-b-20">
                                    @product.ArtDescription
                                </p>

                                <a href="#" class="txt4">
                                    Buy
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
    }
</div>


