<div class="row" *ngFor="let product of products">
    <div class="col-md-4 item-photo">
        <img style="max-width:100%;" src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg" />
    </div>
    <div class="col-md-5" style="border:0px solid gray">
        <!-- Datos del vendedor y titulo del producto -->
        <h3>{{product.title}}</h3>
        <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5>

        <!-- Precios -->
        <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
        <h3 style="margin-top:0px;">U$S {{product.price}}</h3>

        <!-- Botones de compra -->
        <div class="section" style="padding-bottom:20px;">
            <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar al carro</button>
            <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6>
        </div>
    </div>
</div>